<div class="fr-debug debug-output">
    <div class="fr-debug-head" ng-click="toggleState('debug')">
        <strong>Debug</strong>
        <span class="fr-debug-close" ng-if="state.debug">x</span>
    </div>
    <div class="fr-debug-body" ng-if="state.debug">
        <div class="col">
            <strong>General Debug Data</strong>
            <p>Some interesting fields.</p>
            <ul>
                <li><span>form active:</span> {{active}}</li>
                <li><span>form valid:</span> {{form.$valid}}</li>
                <li><span>form pristine:</span> {{form.$pristine}}</li>
                <li><span>form dirty:</span> {{form.$dirty}}</li>
                <li><span>form name:</span> {{schema.name}}</li>
                <li><span>active step id:</span> {{activeStep}}</li>
                <li><span>active step index:</span> {{activeStepIndex}}</li>
                <li><span>button next</span> {{data.showNext ? 'visible' : 'hidden'}}</li>
                <li><span>button previous</span> {{data.showPrevious ? 'visible' : 'hidden'}}</li>
                <li><span>button save</span> {{data.showSave ? 'visible' : 'hidden'}}</li>
                <li><span>button draft</span> {{data.showSaveDraft ? 'visible' : 'hidden'}}</li>
            </ul>
        </div>
        <div class="col">
            <strong>Form Output</strong>
            <p>This output is the output that would be sent out to services when saving.</p>
            <pre ng-bind-html="printData(data.model)"></pre>
        </div>
        <div class="clear"></div>
    </div>
</div>
