<div class="fr-form-step">
    <div ng-transclude></div>
    <div ng-if="step.state.showTitle" class="fr-form-step-title">{{step.title}}</div>
    <div
        fr-form-section-viewer="section"
        model="model"
        ng-repeat="section in step.sections | filter: {_prerequisitesMatch: true}">
    </div>
    <div ng-repeat="field in step.fields | filter: {_prerequisitesMatch: true}">
        <div
            fr-field-viewer
            ng-class="{'fr-field--first': $index === 0}"
            ng-model="model[field.name]"
            fields="step.fields"
            options="field">
        </div>
    </div>
</div>
