<div class="fr-form {{formClass}} list-navigation">
    <div fr-form-tabs="frSchema.steps" active="active" active-index="activeIndex" ng-if="meta.hasSteps"></div>
    <h1 class="fr-form-title">{{frSchema.info.title}}</h1>
    <div ng-transclude></div>
    <div ng-if="frSchema.info.body" class="fr-form-body" ng-bind-html="frSchema.info.body"></div>
    <form  name="theForm" novalidate>
        <div
            ng-if="meta.hasSteps"
            model="model"
            fr-form-step="getStep(activeStep)">
        </div>
        <div ng-repeat="section in frSchema.sections | filter: {_prerequisitesMatch: true}">
            <div fr-form-section="section"
                model="model">
            </div>
        </div>
        <div ng-repeat="field in frSchema.fields | filter: {_prerequisitesMatch: true}">
            <div
                fr-field
                ng-class="{'fr-field--first': $index === 0}"
                ng-model="model[field.name]"
                fields="frSchema.fields"
                options="field">
            </div>
        </div>
        <div
            fr-form-nav="frSchema.steps"
            active="active"
            active-step="activeStep"
            active-step-index="activeIndex"
            can-save-as-concept="frSchema.canSaveDraft"
            ng-if="meta.hasSteps">
        </div>
    </form>
    <div
        fr-debug
        ng-if="debug"
        data="debugData"
        form="theForm"
        schema="frSchema"
        active="active"
        active-step="activeStep"
        active-step-index="activeIndex">
    </div>
</div>
