<div class="fr-form-section">
    <div class="fr-form-section-header">
        <div>
            <span class="fr-form-section-title" ng-if="section.title" ng-class="{'fr-form-section-toggle': section.state.collapsible}">
                <h2 class="header-small">{{section.title}}</h2>
            </span>
        </div>
        <div class="fr-form-section-header-actions">
            <div ng-click="toggleCollapse()" class="fr-form-section-header-toggle" ng-if="section.state.collapsible">
                <button class="button icon small" ng-click="section.toggleCollapse()">
                    <span class="fa fa-chevron-up" ng-if="section.state.collapsed"></span>
                    <span class="fa fa-chevron-down" ng-if="!section.state.collapsed"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="fr-form-section-body">
        <div ng-repeat="field in section.fields | filter: {_prerequisitesMatch: true}">
            <div
                fr-field-viewer
                ng-class="{'fr-field--first': $index === 0}"
                data-ng-model="model[field.name]"
                data-fields="section.fields"
                data-options="field">
            </div>
        </div>
    </div>
</div>
