<div class="fr-form fr-form-viewer list-navigation">
    <h1 class="fr-form-title">{{frSchema.info.title}}</h1>
    <div ng-transclude></div>
    <form name="theform" novalidate>
        <div ng-repeat="step in frSchema.steps | filter: {_prerequisitesMatch: true, type: 'regular'}">
            <div fr-form-step-viewer="step"
                model="model">
            </div>
        </div>
        <div ng-repeat="section in frSchema.sections | filter: {_prerequisitesMatch: true}">
            <div fr-form-section-viewer="section"
                model="model">
            </div>
        </div>
        <div ng-repeat="field in frSchema.fields | filter: {_prerequisitesMatch: true}">
            <div
                fr-field-viewer
                ng-class="{'fr-field--first': $index === 0}"
                ng-model="model[field.name]"
                fields="frSchema.fields"
                options="field">
            </div>
        </div>
    </form>
</div>
