<div class="step-indicator">
    <div
        class="step"
        data-ng-style="{width: width}"
        data-ng-class="{'active': activeIndex === $index}"
        data-ng-repeat="step in steps | filter: {_prerequisitesMatch: true}">
        <div class="truncate" data-ng-class="{'text-center': !step.title}">
            {{$index + 1}}.<span class="step-label"> {{step.title}}</span>
        </div>
    </div>
</div>
