<div class="fr-form-section">
    <div class="fr-form-section-header">
        <div>
            <span class="fr-form-section-title" ng-class="{'fr-form-section-toggle': section.state.collapsible}" ng-if="section.title">
                <h4 class="header-medium">{{section.title}}</h4>
                <div class="fr-form-section-subtitle" ng-if="section.subtitle">
                    <h5 class="header-small plain">{{section.subtitle}}</h5>
                </div>
            </span>
        </div>
        <div class="fr-form-section-header-actions">
            <div class="fr-form-section-header-edit" ng-if="section.state.showEditButton">
                <button class="button warning small has-icon" ng-click="section.toggleEditMode()">
                    <span class="fa fa-pencil"></span>
                    {{ !section.state.editMode ? 'Wijzigen' : 'Ongedaan maken'}}
                </button>
            </div>
            <div class="fr-form-section-header-toggle" ng-if="section.state.collapsible" ng-click="toggleCollapse()">
                <button class="button icon small" ng-click="section.toggleCollapse()">
                    <span class="fa fa-chevron-up" ng-if="section.state.collapsed"></span>
                    <span class="fa fa-chevron-down" ng-if="!section.state.collapsed"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="fr-form-section-body">
        <div ng-repeat="field in section.fields | filter: {_prerequisitesMatch: true}">
            <div
                fr-field
                ng-class="{'fr-field--first': $index === 0}"
                ng-model="model[field.name]"
                data-fields="section.fields"
                data-options="field">
            </div>
        </div>
    </div>
</div>
