<nav class="fr-form-nav">
    <button
        type="button"
        class="button"
        role="button"
        ng-show="showPrevious"
        ng-disabled="!active || buttonState.disabled"
        ng-click="previous()">{{navigation.previous}}</button>
    <a
        class="button"
        role="button"
        ng-show="showSaveDraft"
        ng-disabled="!active || buttonState.disabled"
        ng-click="saveDraft()">{{navigation.concept}}</a>
    <button
        type="button"
        class="button"
        role="button"
        ng-show="showNext"
        ng-disabled="!active || buttonState.disabled"
        ng-click="next()">{{navigation.next}}</button>
    <button
        type="submit"
        class="button"
        role="button"
        ng-show="showSave"
        ng-disabled="!active || buttonState.disabled"
        ng-click="save()">{{navigation.submit}}</button>
</nav>
