<div class="fr-form-step">
    <div ng-transclude></div>
    <div ng-if="step.state.showTitle" class="fr-form-step-title">
        <h2 class="header-large">{{step.title}}</h2>
    </div>
    <div ng-if="step.subtitle" class="fr-form-step-subtitle">
        <h3 class="header-medium plain">{{step.subtitle}}</h3>
    </div>
    <div ng-if="step.body" class="fr-form-step-body" ng-bind-html="step.body"></div>

    <div
        fr-form-section="section"
        model="model"
        ng-repeat="section in step.sections | filter: {_prerequisitesMatch: true}">
    </div>
    <div ng-repeat="field in step.fields | filter: {_prerequisitesMatch: true}">
        <div
            fr-field
            ng-class="{'fr-field--first': $index === 0}"
            ng-model="model[field.name]"
            fields="step.fields"
            options="field">
        </div>
    </div>
</div>
