<div class="container-fluid">

    <h2>Formrenderer example: Creating custom templates</h2>

    <div>
        <p>In this example we show you how to create a custom template.</p>


        <ol>
            <li>Create your own template by creating a new html file. In this file you have access to the following variables:
                <ul>
                    <li> <b>options</b> - The data provided to configure the field. If you need custom properties, you use the <code>spec.options</code> property on this object.</li>
                    <li> <b>fields</b> - All fields for a the form, step or section. </li>
                    <li> <b>ngModel</b> - The model of the field </li>
                    <li> <b>ngModelInt</b> - The initial field value</li>
                    <li> <b>field.spec</b> - field specifications </li>
                    <li> <b>field.to</b> - field template options. This is the equivalent to <code>options.spec.options</code> </li>
                    <li> <b>field.attrs</b> - field attributes. This is the equivalent to <code>options.spec.attributes</code> </li>
                    <li> <b>field.validation</b> - field validation. this is the equivalent to <code>options.inputFilter</code> </li>
                    <li> <b>field.state</b> - field states </li>
                    <li> <b>field.toggleEditMode()</b> - function to toggle the edit state </li>
                </ul>
            </li>
            <li>Tell the form renderer the name (name) of your custom field and the place where he can find the template (templateUrl) </li>
            <li>To use the field: use the name to define your attrs.type property on the field object</li>
        </ol>
    </div>
    <div>
        <fr-form ng-if="form.schema" debug="true" schema="form.schema"></fr-form>
    </div>
</div>
