<div class="container-fluid">
    <h2>Formrenderer example : extend types</h2>
    <div>
        with the use of the frFieldConfig provider you can extend other types with defaultOptions, controller function, link function, wrappers, and more.
    </div>
    <div>
        <fr-form schema="form.schema" debug="true"></fr-form>
    </div>
</div>
