<!DOCTYPE html>
<html lang="en" ng-app="activationSample">

<head>
    <meta charset="UTF-8">
    <title>Step navigation demo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/sasskit/dist/css/sasskit.css">
    <link rel="stylesheet" href="/dist/formrenderer.css">
</head>

<body>
    <div class="row-fluid container">
        <div class="">
            <ul class="nav nav-tabs navbar-default navbar-fixed-top">
                <li ui-view="hint" class="pull-right"><a href="/">Back to examples</a></li>
            </ul>
        </div>
    </div>

    <div style="padding-top: 50px;" class="container spacer-t-s" ng-controller="exampleForm as form">
        <fr-form schema="form.schema" active="form.active" ng-if="form.schema">
            <div class="box-highlight-primary" role="alert">
                <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                <strong>Attention!</strong> You need to link your e-ID account before you can fill in the form.
                <button class="button" ng-click="form.toggleActive()">{{(form.active) ? 'Decouple your e-ID': 'Couple your e-ID'}} (fake)</button>
            </div>
        </fr-form>
    </div>

    <script language="JavaScript" src="/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="/bower_components/jquery/jquery.min.js"></script>
    <script src="/bower_components/angular/angular.js"></script>
    <script language="JavaScript" src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/bower_components/moment/min/moment-with-locales.min.js"></script>
    <script language="JavaScript" src="/bower_components/akit-service-date/dist/akit-service-date.js"></script>
    <script language="JavaScript" src="/dist/formrenderer.js"></script>
    <script language="JavaScript" src="/examples/form-active-state/js/app.js"></script>

</body>

</html>
