.fr-debug {
    @include clearfix;
    background: #FFFFE0;
    border: 1px solid #DAA520;
    color: #B48000;
    margin: $sizer 0;
}

.fr-debug-head {
    background: rgba(#DAA520, .2);
    cursor: pointer;
    padding: $sizer / 2;
    user-select: none;
}

.fr-debug-close {
    display: block;
    float: right;
    font-size: $sizer / 2;
    font-weight: bold;
    padding: 0 $sizer / 4;

    &:hover {
        background: #B48000;
        border-radius: $sizer / 2; 
        color: #F5F5F5;
    }
}

.fr-debug-body {
    padding: 0 $sizer / 2 $sizer / 2;

    ul {
        padding-left: $sizer;
    }

    li {
        font-weight: bold;
        list-style-type: none;
        margin-left: 0;
        padding-left: $sizer / 8;

        &:before {
            content: "+";
            margin-left: -1 * $sizer;
            position: absolute;
        }
    }

    span {
        display: inline-block;
        font-weight: normal;
        width: 40%;
    }

    pre {
        background: rgba($white, .3);
        border: 1px solid #DAA520;
        color: #B48000;
        padding: $sizer / 4;
    }

    .col {
        float: left;
        margin-top: $sizer;
        width: 100%;

        @include mq($bp4) {
            width: 50%;
        }
    }

    .clear {
        clear: both;
    }
}
