.fr-form-section {
    margin: .5rem 0 3rem;
    padding: $sizer / 2 0;
}

.fr-form-section-header {
    margin: -$sizer 0 0;
    border-bottom: $line-th solid $line;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    button {
        &.small.button {
            margin: 0;
        }
    }
}

.fr-form-section-title {
    display: inline-block;

    h2 {
        margin-bottom: 0;
    }
}
.fr-form-section-header-actions {
    display: flex;
    align-items: center;

    .fr-form-section-header-edit {
        margin: 0 $sizer / 2;

        button {
            white-space: nowrap;
        }
    }

    .fr-form-section-header-toggle {
        button {
            overflow: visible;
        }

        .fa {
            background: $beta-background;
            color: $alpha-font-color;
            transition: transform 200ms ease-out;
            font-size: $sizer / 2;
            text-align: center;
        }

        &:hover {
            .fa {
                background: $alpha-ui-color;
                color: $white;
                transform: scale(1.35) translateX(-3px);
            }
        }
    }
}

.fr-form-section-dropdown-arrow {
    transition: -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out;
    transition: transform 200ms ease-out, -webkit-transform 200ms ease-out;
    font-size: 0.75rem;
    text-align: center;
    padding: .83em .94em;
    background: $beta-background;
    text-align: center;

    &:hover {
        background: $alpha-ui-color;
        color: $white;
        -webkit-transform: scale(1.35) translateX(-3px);
        -ms-transform: scale(1.35) translateX(-3px);
        transform: scale(1.35) translateX(-3px);
    }
}

.fr-form-section-toggle-edit-mode {
    background: $warning;
    line-height: 2.2rem;
    padding: 0 .8rem;
    margin: 0 1rem;
    min-width: $sizer * 5;

    a{
        color: $white;
        text-decoration: none;
    }

    .fa-pencil {
        font-size: 1rem;
        margin-right: 0.5rem;
    }

}
