$gap: $sizer / 24;

.step-indicator {
    overflow: hidden;
    background-color: $alpha-background;
    margin-bottom: $sizer;

    .step {
        @include respond-to("desktop") {
            text-align: left;
        }

        position: relative;
        float: left;
        display: block;
        margin-right: $sizer * 2 + $gap;
        padding: $sizer / 2 0 $sizer / 2;
        text-align: center;
        background: $alpha-background;


        &:before, &:after {
            content: "";
            position: absolute;
            top: 50%;
            margin-top: - $sizer;
            display: block;
            border: $sizer solid transparent;
            width: 0;
            height: 0;
        }

        &:before {
            left: $sizer * - 2;
            border-left-color: $line;
            z-index: 1
        }

        &:after {
            right: $sizer * - 2;
            border-left-color: $alpha-background;
            z-index: 2;
        }

        &:first-of-type {
            padding-left: $sizer / 2;

            &:before {
                display: none;
            }
        }

        &:last-of-type {
            margin-right: 0;
            padding-right: $sizer / 2;

            &:after {
                display: none;
            }
        }

        &.active {
            color: $white;
            background: $alpha-ui-color;

            &:before, &:after {
                border-left-color: $alpha-ui-color;
            }

            &:before {
                border-color: $alpha-ui-color;
            }
        }

        &.disabled {
            color: $beta-font-color;
        }
    }

    .step-label {
        @include respond-to("desktop") {
            display: inline;
            margin-left: $sizer / 2;
        }

        display: none;
    }
}
