<div class="fr-field-state-write-wrapper">
    <label data-ng-class="{'required': field.validation.required && field.state.editMode}" for="">{{field.to.label}}</label>
    <div
    fr-validation
    id="{{ field.attrs.id }}"
    class="multiple-field-container radio-list"
    validation="field.validation"
    valid-callback="validationValidHandler()"
    invalid-callback="validationInvalidHandler(message)"
    name="{{field.attrs.name}}"
    ng-model="ngModel"
    >
        <ul ng-if="!field.state.canToggle">
            <li ng-repeat="radio in field.to.valueOptions">
                <input
                    id="{{ field.attrs.id }}-{{$index}}"
                    name="{{ field.attrs.name }}-{{$index}}"
                    ng-value="radio.key"
                    ng-model="$parent.$parent.ngModel"
                    type="radio"
                    ng-disabled="!field.state.editMode" />
                <label for="{{ field.attrs.id }}-{{$index}}"><span>{{ radio.value }}</span></label>
            </li>
        </ul>
        <div ng-if="field.state.canToggle">
            <ul class="priority-radios">
                <li ng-repeat="radio in field.to.valueOptions | filter:{priority:true}">
                    <input
                        id="{{ field.attrs.id }}-{{$index}}"
                        name="{{ field.attrs.name }}-{{$index}}"
                        ng-value="radio.key"
                        ng-model="$parent.$parent.ngModel"
                        type="radio"
                        ng-disabled="!field.state.editMode" />
                    <label for="{{ field.attrs.id }}-{{$index}}"><span>{{ radio.value }}</span></label>
                </li>
            </ul>
            <div class="toggle-priority" ng-class="{open:toggleShowAll}">
                <ul>
                    <li ng-repeat="radio in field.to.valueOptions | filter:{priority:false}">
                        <input
                            id="{{ field.attrs.id }}-{{$index}}"
                            name="{{ field.attrs.name }}-{{$index}}"
                            ng-value="radio.key"
                            ng-model="$parent.$parent.ngModel"
                            type="radio"
                            ng-disabled="!field.state.editMode" />
                        <label for="{{ field.attrs.id }}-{{$index}}"><span>{{ radio.value }}</span></label>
                    </li>
                </ul>
            </div>
            <a  href="" ng-click="togglePriority()">+ {{toggleText}}</a>
        </div>
    </div>
</div>
