<div class="fr-field-{{ field.baseType }}">

    <label for="">{{field.to.label}}</label>

    <input
        class="fr-control"
        name="field.attrs.name"
        data-ng-model="ngModel"
        placeholder='{{field.attrs.placeholder}}'
        id="field.attrs.id"
        type="text">
    <p>{{field.to.customFieldOption}}</p>

    <div>
        <h2>Field</h2>
        <pre>{{field | json}}</pre>
    </div>
</div>
