<div class="container-fluid">
    <h2>Formrenderer example: template wrappers</h2>
    <p>Here is an example on how to use the setTempWrapper feature. Template wrappers are used to keep your field templates consistent.
    This way you don't have to repeat yourself over and over again.</p>

    <fr-form
        schema="form.schema"
        debug="true"
        >
    </fr-form>
</div>
