<div class="panel-group" id="accordion-{{field.attrs.id}}" role="tablist" aria-multiselectable="true">
  <div class="panel panel-info">
      <div class="panel-heading">
        <p>{{field.to.textBlock.description}}</p>
      </div>
  </div>
</div>
