<div id="{{ field.attrs.id }}" class="form-group">
    <label for="{{ field.attrs.id }}">{{ field.to.label }}</label>
    <fr-transclude></fr-transclude>
    <div fr-messages="field.validation.error"></div>
</div>