<div class="fr-field-state-write-wrapper">
    <span>
        <label style="color: black; padding-left: 0;" class="label" for="" data-ng-class="{'required': field.validation.required && field.state.editMode}">{{field.to.label}}</label>
    </span>
    <div data-ng-show="!field.to.multiple" class="checkboxWrapper">
        <input
            fr-validation
            validation="field.validation"
            id="{{field.attrs.id}}"
            name="{{field.attrs.name}}"
            type="checkbox"
            ng-model="ngModel"
            ng-class="{checked: ngModel !== undefined && ngModel}"
            ng-disabled="!field.state.editMode"/>

        <label ng-class="{required: field.validation.required && !field.to.displayLabel}" data-ng-if="field.to.label" for="{{field.attrs.id}}">{{field.to.label}}</label>
    </div>
    <div
        data-ng-if="field.to.multiple"
        data-ng-model="ngModel"
        fr-validation
        id="{{ 'fr-' + field.attrs.id }}"
        validation="field.validation"
        valid-callback="validationValidHandler()"
        invalid-callback="validationInvalidHandler(message)"
        name="{{field.attrs.name}}"
        class="fr-checkbox">

        <div data-ng-repeat="option in field.to.valueOptions" class="checkboxWrapper">
            <input
                id="{{field.attrs.id}}-{{$index}}"
                name="{{field.attrs.id}}-{{$index}}"
                type="checkbox"
                ng-model="option.checked"
                ng-change="updateModel(option)"
                ng-class="{checked: option.checked !== undefined && option.checked}"
                ng-disabled="!field.state.editMode"/>

            <label for="{{field.attrs.id}}-{{$index}}">{{option.value}}</label>
        </div>
    </div>
    <div ng-if="field.validation.error.length > 0" class="field-problem" fr-messages="field.validation.error"></div>
</div>
