<div class="fr-field-{{ field.baseType }} field-container">
    <span>
        <label style="color: black; padding-left: 0;" class="label" for="" data-ng-class="{'required': field.validation.required && field.state.editMode}">{{field.to.label}}</label>
    </span>
    <input
        fr-validation
        validation="field.validation"
        id="{{ field.attrs.id }}"
        name="{{ field.attrs.name }}"
        class="field full"
        ng-disabled="!field.state.editMode"
        type="text"
        ng-model="ngModel"
        ng-class="{
            'invalid': field.validation.error.length > 0 && field.state.editMode,
            'valid': field.validation.error.length === 0 && field.state.editMode,
            'disabled': !field.state.editMode
        }"
        placeholder="{{ field.attrs.placeholder }}"/>
    <div ng-if="field.validation.error.length > 0" class="field-problem" fr-messages="field.validation.error"></div>
</div>
