<div>
    <fr-form
        ng-if="!form.complete"
        schema="form.schema"
        active-step="form.activeStep"
        on-navigate="form.onNavigate"
        on-submit="form.onSubmit"
        debug="true"
        >
    </fr-form>
    <fr-form-viewer
        ng-if="form.complete"
        schema="form.viewschema"
        >
    </fr-form-viewer>
</div>
